body, input[type="text"], button {
    font-family: 'Hind Siliguri', sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.create-todo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
}

.input-todo {
    width: 50%;
    padding-left: 16px;
    font-size: 24px;
    border-radius: 4px;
    border: 2px solid;
    outline: none;
}

.input-todo:hover {
    transition: 0.5s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.button-todo {
    border-radius: 4px;
    font-size: 24px;
    width: 15%;
    background-color: white;
    color: #00c7ff;
    border: 2px solid #00c7ff;
    outline: none;
}

.button-todo:hover {
    transition: 0.5s;
    border-radius: 4px;
    font-size: 24px;
    width: 15%;
    background-color: #00c7ff;
    color: white;
    outline: none;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.todo-list-container {
    margin-top: 16px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.to-do {
    height: 64px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

.to-do:hover {
    transition: 0.5s;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.3);
}

.to-do-buttons {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 12px;
}

p {
    font-size: 20px;
    font-weight: 600;
    max-width: 300px;
    word-break: break-all;
    padding-left: 12px;
}

.edit-btn, .delete-btn, .cancel-btn {
    border-radius: 4px;
    font-size: 20px;
    background-color: white;
    outline: none;
}
.cancel-btn {
    color: #dc0000;
    border: 2px solid #dc0000;
}
.cancel-btn:hover {
    transition: 0.5s;
    background-color: #dc0000;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.delete-btn {
    color: #00c63e;
    border: 2px solid #00c63e;
}
.delete-btn:hover {
    transition: 0.5s;
    background-color: #00c63e;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.edit-btn {
    border: 2px solid black;
}
.edit-btn:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.form-container {
    transition: 0.5s;
    position: absolute;
    height: 150px;
    width: 300px;
    display: block;
    text-align: center;
    background-color: #efefef;
    border: 2px solid black;
    border-radius: 5px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.form-btn-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.edit-input {
    font-size: 16px;
}

@media only screen and (max-width: 768px) {
    .create-todo-container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 150px;
        width: 90%;
    }

    .input-todo {
        width: 100%;
        text-align: center;
    }
    .button-todo {
        width: 50%;
    }
    .button-todo:hover {
        width: 50%;
    }
    .todo-list-container {
        width: 90%;
    }
    .to-do {
        width: 100%;
    }
    p {
        max-width: 240px;
    }
}